name: ci

permissions:
  contents: write

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    permissions:
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        deno:
          - v1.x
          - v2.x
          - canary
        os:
          - ubuntu-latest
          - windows-latest
          - macOS-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v5

      - name: Set up Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: ${{ matrix.deno }}
          cache: true

      - name: Run tests
        run: deno test

      - name: Publish dry run
        run: deno publish --dry-run
        if: matrix.deno == 'canary' && matrix.os == 'ubuntu-latest'

  lint:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Set up Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: canary
          cache: true

      - name: Format
        run: deno fmt --check

      - name: Lint
        run: deno lint
